.add-listing-body {
    margin-bottom: 100px;

    .container {

        .add-listing-success {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            padding-top: 80px;

            .success-caption-container {
                display: flex;
                gap: 10px;

                .circle-check {
                    width: 30px;
                    fill: #009B27;
                }

                h4 {
                    margin: 0;
                }
            }
        }

        .success-new-listed-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            width: 840px;
            background: white;
            padding: 30px 20px;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

            .new-listed-info {
                display: flex;
                justify-content: center;
                gap: 20px;

                img {
                    width: 150px;
                    height: 150px;
                }

                .new-listed-info-col-left {

                    p {
                        font-size: 18px;
                    }

                    .listed-price {
                        font-size: 18px;
                        color: var(--red-300);
                    }

                    .listed-in {
                        font-size: 12px;
                        font-style: italic;
                    }
                }


            }

            .redirect-buttons {
                display: flex;
                justify-content: center;
                gap: 20px;
            }


        }
    }

    .container {
        display: block;

        h3 {
            font-weight: 500;
            margin: 20px 0;
        }

        .box {
            display: flex;
            gap: 20px;

            .col-left {
                .add-media-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    width: 538px;
                    background: white;
                    padding: 30px 20px;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

                    .add-image-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        gap: 10px;
                        width: 498px;
                        border: 1px dashed var(--gray-500);
                        color: var(--green-400);
                        padding: 30px 0;

                        .addlisting-upload-img {
                            width: 36px;
                            fill: var(--green-400);
                        }

                        .add-img-btn {
                            color: var(--green-400);
                            margin-bottom: 8px;
                        }
                    }

                    .upload-img-preview-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        gap: inherit;

                        .upload-img-box {
                            position: relative;
                            border: 1px solid var(--gray-200);

                            .upload-img-preview {
                                width: 110px;
                                height: 110px;
                            }

                            .upload-img-close {
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                background-color: rgba(0, 0, 0, 0.5);
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                text-align: center;
                                line-height: 24px;
                                z-index: 1;
                                cursor: pointer;
                            }

                            .upload-img-close::after {
                                content: "✖";
                                font-size: 14px;
                                color: white;
                            }
                        }
                    }

                    .atleast-one-photo {
                        color: #910000;
                    }

                    .add-video-container {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        width: 100%;

                        .title-video {
                            font-weight: 500;
                        }

                        .upload-vid-options {
                            display: flex;
                            gap: 35px;

                            .radio-container {
                                display: block;
                                position: relative;
                                padding-left: 20px;
                                cursor: pointer;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;

                                /* Hide the browser's default radio button */
                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                }

                                /* Create a custom radio button */
                                .checkmark {
                                    position: absolute;
                                    top: 3px;
                                    left: 0;
                                    height: 15px;
                                    width: 15px;
                                    border-radius: 50%;
                                }

                                /* When the radio button is checked, add a blue background */
                                input:checked~.checkmark {
                                    background-color: var(--green-400);
                                    border: var(--green-400);
                                }

                                /* Create the indicator (the dot/circle - hidden when not checked) */
                                .checkmark:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }

                                /* Show the indicator (dot/circle) when checked */
                                input:checked~.checkmark:after {
                                    display: block;
                                }

                                /* Style the indicator (dot/circle) */
                                .checkmark:after {
                                    top: 5px;
                                    left: 5px;
                                    width: 5px;
                                    height: 5px;
                                    border-radius: 50%;
                                    background: white;
                                }
                            }

                        }

                        .upload-video-content {
                            display: flex;
                            justify-content: space-between;

                            .video-preview-container {
                                position: relative;

                                .remove-video-preview {
                                    position: absolute;
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 50%;
                                    background-color: rgba(0, 0, 0, 0.5);
                                    top: 10px;
                                    right: 10px;
                                    text-align: center;
                                    line-height: 24px;
                                    z-index: 1;
                                    cursor: pointer;
                                }

                                .remove-video-preview:after {
                                    content: "✖";
                                    font-size: 14px;
                                    color: white;
                                }
                            }

                            .upload-video-box {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                gap: 10px;
                                width: 127px;
                                border: 1px dashed var(--gray-500);
                                color: var(--green-400);
                                padding: 25px 0px;
                                background: none;

                                .addlisting-upload-vid {
                                    width: 36px;
                                    fill: var(--green-400);
                                }
                            }

                            ul {
                                li {
                                    font-size: 12px;
                                    list-style: disc;
                                }
                            }
                        }

                        .input-youtube-link {
                            width: 100%;
                            margin-bottom: 20px;
                        }

                        span {
                            font-weight: 600;
                        }
                    }
                }
            }

            .col-right {
                flex-grow: 1;
                flex-shrink: 0;

                .select-category-container {
                    position: relative;
                    flex-grow: 1;
                    padding: 30px 20px;
                    background: white;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

                    .wrapper {
                        position: relative;
                        flex-grow: 1;

                        .dropdown-category {
                            display: flex;
                            flex-grow: 1;
                            background: none;

                            #selectCategory {
                                min-width: 300px;
                                flex-grow: 1;
                                height: 42px;
                                border-radius: 5px;
                                padding: 0 15px;
                                outline: none;
                                border: 1px solid var(--gray-300);
                            }
                        }

                        .select-arrow {
                            position: absolute;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            font-size: 16px;
                            line-height: 32px;
                            padding-right: 15px;
                            outline: none;
                            cursor: pointer;
                            background: none;
                        }

                        .select-arrow::after {
                            content: "\f078";
                            font-family: FontAwesome;
                            color: var(--gray-300);
                            text-align: right;
                        }

                        .active:after {
                            content: "\f077";
                            font-family: FontAwesome;
                        }

                        .category-option-list {
                            position: absolute;
                            width: 100%;
                            max-height: auto;
                            overflow: hidden;
                            left: 0;
                            top: 50px;
                            background: white;
                            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
                            z-index: 990;

                            ul {
                                display: flex;
                                flex-direction: column;
                                padding: 0;
                                margin: 0;
                                max-height: 500px;
                                overflow-y: scroll;

                                li {
                                    .search-container {
                                        position: relative;
                                        padding: 10px 12px;

                                        input {
                                            width: 100%;
                                            height: 40px;
                                            padding: 0 10px;
                                            border: 1px solid var(--gray-300);
                                            border-radius: 5px;
                                            outline: none;
                                        }

                                        .magnifying-glass {
                                            position: absolute;
                                            width: 21px;
                                            fill: var(--gray-500);
                                            right: 20px;
                                            top: 20px;
                                        }
                                    }
                                }
                            }

                            .main-category {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                width: 100%;
                                height: auto;

                                .parent-category {
                                    display: flex;
                                    align-items: center;
                                    padding: 10px 12px;
                                    border-top: 1px solid var(--gray-200);

                                    img {
                                        margin-right: 10px;
                                    }
                                }

                                .parent-category:hover {
                                    background-color: var(--gray-200);
                                    cursor: pointer;
                                }

                                .sub-category {
                                    overflow: hidden;
                                    transition: max-height 0.3s ease-out;
                                    align-items: start;

                                    li {
                                        width: 100%;

                                        .first-level-sub-category {
                                            display: flex;
                                            align-items: center;
                                            padding: 10px 12px 10px 36px;
                                            border-top: 1px solid var(--gray-200);
                                        }

                                        .first-level-sub-category:hover {
                                            background-color: var(--gray-200);
                                            cursor: pointer;
                                        }

                                        ul {
                                            overflow-y: auto;
                                            border-top: 1px solid var(--gray-200);
                                        }

                                        .sub-sub-category {
                                            overflow: hidden;
                                            transition: max-height 0.3s ease-out;
                                            align-items: start;

                                            .second-level-sub-category {
                                                display: flex;
                                                align-items: center;
                                                padding: 10px 12px 10px 50px;
                                                border-top: 1px solid var(--gray-200);
                                            }

                                            .second-level-sub-category:hover {
                                                background-color: var(--gray-200);
                                                cursor: pointer;
                                            }
                                        }

                                    }

                                    li:first-child {
                                        padding-top: 0;
                                    }

                                }

                                .active,
                                .collapsible {
                                    right: 6px;
                                    top: 6px;
                                    width: 100%;
                                    height: 100%;
                                    text-align: end;
                                    font-size: 16px;
                                    color: var(--gray-500);
                                    line-height: 32px;
                                    outline: none;
                                    cursor: pointer;
                                    background: none;
                                }

                                .collapsible::after {
                                    content: "\f078";
                                    font-family: FontAwesome;
                                    color: var(--gray-300);
                                    position: absolute;
                                    right: 10px;
                                }

                                .active:after {
                                    content: "\f077";
                                    font-family: FontAwesome;
                                }
                            }
                        }
                    }

                    .add-prod-details-form {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        margin-top: 30px;

                        label {
                            font-weight: 500;
                            margin-bottom: 10px;
                        }

                        h3 {
                            margin: 0;
                        }

                        .listing-price-container {
                            position: relative;
                            display: flex;
                            align-items: center;

                            .listing-currency {
                                position: absolute;
                                font-size: 18px;
                                font-weight: 500;
                                padding: 0 15px;
                            }

                            .listing-price-input-field {
                                width: 100%;
                                padding-left: 30px;
                            }

                        }

                        .listing-input-field {
                            width: 100%;
                        }

                        .product-conditions {
                            display: flex;
                            gap: 35px;

                            label {
                                font-weight: 400;
                                margin: 0;
                            }
                        }

                        .listing-description {
                            width: 100%;
                        }

                        .update-listing-btns {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}