.forum-category-page-filter-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 482px;
    padding: 30px 0 30px 0;
    background: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

    .not-authenticated {
        padding: 0 20px;
    }

    .forum-category-page-row1 {

        p {
            margin-bottom: 7px;
        }

        .forum-login-btn {
            width: 100%;
            color: white;
            background: var(--black-102);
            border: 1px solid var(--black-102);
            border-radius: 50px;
            padding: 5px 20px;
            margin-bottom: 7px;
        }

        .forum-category-page-row1-row1 {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0 20px;
            margin-bottom: 10px;

            .forum-profile-pic {
                width: 72px;
                border-radius: 50%;
            }

            .user-display-name {
                p {
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                }

                small {
                    font-style: italic;
                    font-size: 13px;
                }
            }
        }

        .forum-profile-menu {
            margin: 0;
            padding: 0;

            li {
                padding: 5px 20px;
                border-bottom: 1px solid var(--gray-200);
                font-weight: 500;

                .forum-activity-counter {
                    font-size: 13px;
                    font-weight: 400;
                }
            }

            li:hover {
                cursor: pointer;
                background: var(--gray-200);
            }

            .forum-notifications {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .forum-notification-counter {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 22px;
                    height: 22px;
                    background: red;
                    color: white;
                    font-size: 13px;
                    border-radius: 50%;
                }
            }
        }
    }

    .forum-sortby,
    .forum-last-updated {
        padding: 0 20px;

        .forum-sortby-dropdown-select {
            width: 100%;
            height: 30px;
            padding: 0 10px;
            border-radius: 5px;
            border: 1px solid var(--gray-300);
        }

    }

    label {
        font-weight: 500;
        margin-bottom: 7px;
    }

    .forum-category-page-row2,
    .forum-category-page-row3 {

        .section-label-container {
            background: var(--gray-200);
            margin-bottom: 10px;
            label {
                font-weight: 500;
                padding: 6px 20px;
                margin: 0;
            }
        }

        .forum-category-btn-container {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            padding: 0 20px;

            .forum-category-menu {
                flex-shrink: 0;
                font-size: 15px;
                font-weight: 500;
                background: #fff;
                border: 1px solid var(--gray-300);
                border-radius: 50px;
                color: var(--gray-500);
                cursor: pointer;
                outline: none;
                padding: 5px 20px;
            }

            .forum-category-menu:hover {
                background: linear-gradient(90deg, #d53f3f, #dc6531);
                border: 1px solid var(--orange-200);
                color: #fff;
            }

            .active {
                background: linear-gradient(90deg, #d53f3f, #dc6531);
                border: 1px solid var(--orange-200);
                color: #fff;
            }

            .more-tags {
                display: flex;
                justify-content: end;
                width: 100%;

                button {
                    color: var(--blue);
                    border: none;
                    background: none;
                }
            }
        }
    }

    .forum-category-page-row3 {
        .forum-category-btn-container {
            .active {
                color: white;
                background: var(--tag-blue);
                border: 1px solid var(--gray-300);
            }

            .tag-btn:hover {
                color: white;
                background: var(--tag-blue);
                border: 1px solid var(--gray-300);
            }
        }
    }
}