.form-body{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;

    .container {
        height: 100%;
        .form-box{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    }
}
