.form-body{
    align-items: center;
    display: flex;
    flex-direction: column;

    .container {
        .form-box{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 60px 0;
            min-height: 735px;
        }
    }
}



//-----------------MEDIA QUERY -----------------------//

@media only screen and (max-width: 500px) {
    .form-body{
        .container {
            .form-box{
                height: none;
            }
        }
    }
    
}