

html * {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.upload {
  &__box {
    padding: 40px;
  }
  &__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  &__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid;
    background-color: #4045ba;
    border-color: #4045ba;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
    
    &:hover {
      background-color: unset;
      color: #4045ba;
      transition: all .3s ease;
    }
    
    &-box {
      margin-bottom: 10px;
    }
  }
  
  &__img {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }
    
    &-box {
      width: 200px;
      padding: 0 10px;
      margin-bottom: 12px;
    }
    
    &-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;

        &:after {
          content: '\2716';
          font-size: 14px;
          color: white;
        }
      }
  }
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}



/* Add this to your CSS file */
.sent-message {
  text-align: right;
  color: #fff; /* For visibility, you can change this as per your design */
  background-color: #007bff; /* Blue color as an example */
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.received-message {
  text-align: left;
  color: #000; /* Black color for visibility */
  background-color: #f1f1f1; /* Light gray color as an example */
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}




// CIrcular Progress Bar

$spinner-radius: 34px;
$spinner-height: $spinner-radius*2;
$quiet: #848ea1;
$g09: #edf0f5;

.circle-progress {
  display: inline-block;
  position: relative;
  width: $spinner-height;
  height: $spinner-height;
  
  &:after {
    content: attr(data-pct)"%";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $spinner-height;
    text-align: center;
    color: $quiet;
    font-size: 16px;
  }
  .circle-progress-content {
    transform: rotate(-90deg);
    
    .bar, .bg {
      stroke-linecap: round;
    }
    .bar {
      stroke: #5999FF;
      transition: stroke-dashoffset 0.1s ease-out; 
    }
    .bg {
      stroke: $g09;
    }
  }
}


.width {
  width: 500px;
}


.owl-theme .owl-dots {
  bottom: 5px;
  left: 0;
  position: absolute; 
  width: 100%;
}


// Custom style for autocomplete dropdown items
.pac-item {
  background-color: #f8f9fa; // Light grey background
  border-bottom: 1px solid #dee2e6; // Light grey border
  font-size: 14px; // Smaller font size
  padding: 10px; // Padding inside the item
  position: relative; // Make sure the position is relative for the icon positioning
}

.pac-item:hover {
  background-color: #e9ecef; // Slightly darker grey on hover
  cursor: pointer;
}

.pac-item.highlight::after {
  content: "\f00c"; // Font Awesome check icon
  font-family: "FontAwesome";
  font-weight: 900;
  position: absolute;
  right: 10px; // Adjust the position as needed
  top: 50%;
  transform: translateY(-50%);
  color: green; // Color of the check icon
}


.pac-item.highlight {
  background-color: #e9ecef;
}
