/* SUB CATEGORY BUTTON */
.custom-button {
  padding: 5px 20px;
  border: 1px solid var(--gray-300);
  color: var(--gray-500);
  border-radius: 50px;
  background: white;
  cursor: pointer;
  outline: none;
}

/* CATEGORY BUTTON */
.category-button {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 20px;
  border: 1px solid var(--gray-300);
  color: var(--gray-500);
  border-radius: 50px;
  background: white;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
}

.active,
.category-button:hover {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background: var(--green-400);
  color: white;
  border-color: var(--green-400);
}


/* SEE MORE BUTTON */
.seemore-button {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border: none;
  color: var(--green-400);
  padding: 5px 0px;
  background: none;
  outline: none;
}

.seemore-button:hover {
  border: none;
  background: none;
  color: var(--green-400);
  text-decoration: underline;
  cursor: pointer;
}

/* LOGIN FORM BUTTON */
.custom-login-button {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  width: 360px;
  height: 47px;
  border-radius: 5px;
  color: white;
  background: var(--green-400);
  border: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  outline: none;
}

.svg-class {
  display: flex;
  fill: white;
}

/* CLEAR BUTTON */
.clear-button {
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid var(--gray-300);
  background: white;
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-500);
  outline: none;
  text-align: center;
}

.clear-button:hover {
  background: var(--light-gray);
  color: var(--gray-500);
}

/* GREEN BUTTON */
.green-button {
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid var(--green-400);
  background: var(--green-400);
  font-size: 15px;
  font-weight: 500;
  color: white;
  float: right;
  outline: none;
  text-align: center;
}

.green-button:hover {
  background: #008774;
  color: white;
}

.disabled-button {
  background: var(--gray-300);
  border: 1px solid var(--gray-300);
}

.disabled-button:hover {
  background: var(--gray-300);
  border: 1px solid var(--gray-300);
}

/* FILTERS BUTTON */
.custom-filter-button {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-300);
  color: var(--gray-500);
  background-color: white;
  outline: none;
}

.custom-filter-button:hover {
  background-color: var(--light-gray);
}

.custom-filter-button .svg-style {
  width: 20px;
  fill: var(--gray-500);
}


/* FILTERBY BUTTON */
.custom-filterby-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  padding: 0 20px;
  height: 40px;
  border: 1px solid var(--gray-300);
  color: var(--gray-500);
  border-radius: 50px;
  background: white;
  cursor: pointer;
  outline: none;
}

.custom-filterby-button:hover {
  background-color: var(--light-gray);
}

.custom-filterby-button .svg-style {
  width: 20px;
  fill: var(--gray-500);
}

.filterby-arrow-down::after {
  content: "\f078";
  font-family: FontAwesome;
  color: var(--gray-500);
  text-align: right;
}


/* SELL BUTTON */
.sell-btn-small-device {
  display: none;
  border-radius: 50%;
  height: 40px;
  background-color: var(--green-400);
  color: white;
  font-size: 25px;
  width: 40px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 10px;
  align-content: center;
  z-index: 1;
}

.sell-btn-small-device:after {
  content: "\f067";
  font-family: Fontawesome;
}



/*-------------------- MEDIA QUERY ------------------------------*/


@media only screen and (max-width: 1199px) {
  .sell-btn-small-device {
    display: block;
  }
}