.container {
    .chat-container {
        display: flex;
        width: 100%;
        height: calc(100vh - 190px);

        .chat-left {
            display: flex;
            flex-direction: column;
            width: 432px;
            height: 100%;
            border-right: 1px solid var(--gray-300);

            .user-chat-list-container {
                flex: 1 1;
                overflow-y: auto;

                .no-chat-messages {
                    display: flex;
                    justify-content: center;
                    padding-top: 50px;
                }
            }

            .chat-left-row1 {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                border-bottom: 1px solid var(--gray-300);

                .chat-left-row1-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .back-arrow {
                        display: none;
                    }

                    h3 {
                        font-weight: 500;
                        margin: 0;
                    }

                    .custom-select {
                        max-width: 133px;
                    }

                    // .message-collections-btn {
                    //     font-size: 15px;
                    //     font-family: 'Poppins', sans-serif;
                    //     display: flex;
                    //     justify-content: space-between;
                    //     width: 116px;
                    //     height: 30px;
                    //     border-radius: 5px;
                    //     padding: 0 10px;
                    // }
                }

                .chat-search-box-container {
                    position: relative;

                    .chat-search-box {
                        border: none;
                        width: 100%;
                        background-color: var(--gray-100);
                        border: 1px solid var(--gray-300);
                        padding-right: 40px;
                    }

                    .magnifying-glass {
                        fill: var(--gray-400);
                        top: 10px;
                        right: 10px;
                        position: absolute;
                        width: 21px;
                    }
                }
            }

            .user-chat-list {
                color: var(--gray-500);
                border: none;

                .select-user-conversation {
                    display: flex;
                    justify-content: space-between;
                    height: auto;
                    width: 100%;
                    padding: 10px;
                    color: var(--gray-500);

                    .user-chat-info-container {
                        min-width: 200px;
                        display: flex;
                        align-items: center;
                        gap: 11px;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }

                        .chat-user-name-messages {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            overflow: hidden;

                            h6 {
                                font-size: 1rem;
                            }

                            .chat-user-name {
                                font-weight: 600;
                                font-size: 12px;
                            }

                            .chat-product-name {
                                font-weight: 600;
                            }
                        }
                    }

                    .chat-time-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        width: auto;
                        padding: 0 5px;
                        flex-shrink: 0;

                        .last-message-time {
                            text-align: end;
                            align-self: flex-end;
                            padding-top: 10px;
                            width: 100%;
                        }

                        .circle-container {
                            width: auto;
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            margin-left: 10px;

                            .circle {
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: var(--orange-200);
                            }
                        }
                    }
                }

                .active {
                    background: var(--gray-200);
                    border: none;
                }
            }


        }

        .chat-right {
            width: 100%;
            display: flex;
            flex-direction: column;

            .chat-right-row1 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 68px;
                padding: 10px;
                border-bottom: 1px solid var(--gray-300);

                .back-arrow {
                    display: none;
                }

                .user-chat-info-container {
                    display: flex;
                    align-items: center;
                    gap: 11px;



                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    .chat-user-name-messages {
                        display: flex;
                        flex-direction: column;

                        .chat-user-name {
                            color: var(--gray-500);
                            font-weight: 600;
                        }

                        .chat-user-status {
                            font-weight: 500;
                        }

                        .chat-user-status.online {
                            color: var(--green-400);
                        }

                        .chat-user-status.offline {
                            color: var(--gray-400);
                        }
                    }
                }

                .three-dots-container {
                    position: relative;
                    padding: 5px 5px;
                    cursor: pointer;

                    .three-dots-chat {
                        display: flex;
                        width: 5px;
                        fill: var(--black-102);
                        rotate: 90deg;
                    }

                    .chat-action-options {
                        position: absolute;
                        width: auto;
                        background: white;
                        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                        border-radius: 3px;
                        top: 25px;
                        right: 0;
                        z-index: 1;

                        ul {
                            width: max-content;
                            margin: 0;
                            padding: 0;

                            li:first-child {
                                border-top: none;
                                border-bottom: none;
                            }

                            li {
                                font-weight: 500;
                                border: 1px solid var(--gray-200);
                                padding: 10px 12px 10px 12px;
                            }

                            li:hover {
                                background: var(--gray-100);
                            }
                        }
                    }
                }
            }

            .chat-right-row2 {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: auto;
                padding: 5px 20px;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

                .offer-buttons {
                    font-size: 15px;
                    font-family: 'Poppins', sans-serif;
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    .make-offer-btn {
                        background: var(--green-400);
                        border: var(--green-400);
                    }

                    .send-offer-btn {
                        background: var(--green-400);
                        border: var(--green-400);
                    }

                    .change-offer-btn {
                        font-size: 15px;
                        font-family: 'Poppins', sans-serif;
                        background: red;
                        border: none;
                    }

                    .item-sold-btn {
                        font-size: 15px;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;
                        color: white;
                        background: var(--gray-300);
                    }

                    .input-offer-container {
                        position: relative;

                        .php-symbol {
                            position: absolute;
                            top: 8px;
                            left: 10px;
                        }

                        .input-offer {
                            width: 150px;
                            padding-left: 22px;
                        }
                    }
                }

                .selling-item-container {
                    display: flex;
                    gap: 11px;

                    .chat-selling-item-img-box {
                        position: relative;

                        img {
                            width: 65px;
                            height: 65px;
                        }

                        .sold-ribbon-label {
                            position: absolute;
                            width: 65px;
                            height: 65px;
                            color: white;
                            font-weight: 500;
                            overflow: hidden;
                            letter-spacing: 1px;

                            span {
                                position: absolute;
                                text-align: center;
                                width: 100px;
                                background-color: rgba(0, 0, 0, 0.4);
                                transform: rotate(-45deg);
                                left: -20px;
                                top: 23px;
                            }
                        }

                    }


                    .chat-item-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        max-width: 600px;

                        .chat-item-name {
                            color: var(--gray-500);
                            font-weight: 600;
                        }
                    }
                }
            }

            .chat-right-row3 {
                padding: 0 10px 10px 10px;
                flex: 1;
                display: block;
                overflow-y: auto;

                .no-chat-selected {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    height: 100%;
                    justify-content: center;
                }

                .chat-sent-messages {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    padding: 10px 0 10px 0;
                    width: 100%;

                    .chat-sent-message-info-container {
                        max-width: 50%;
                        margin-bottom: 5px;

                        .row1 {
                            display: block;

                            .chat-sent-message-data {
                                display: flex;
                                gap: 5px;

                                .chat-uploaded-image {
                                    width: 200px;
                                    height: auto;
                                    border-radius: 0;
                                    cursor: pointer;
                                }
                            }

                            .chat-sent-message-box {
                                border-radius: 10px;
                                padding: 6px;
                                background-color: var(--green-200);

                                .offered-price-label {
                                    color: var(--green-500);
                                    font-weight: 600;
                                }

                                span {
                                    font-weight: 600;
                                }

                                .normal-chat-text {
                                    font-weight: 400;
                                }
                            }

                            img {
                                align-self: flex-end;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                            }
                        }

                        .chat-time-sent-message {
                            color: var(--gray-300);
                        }

                        .loading-spinner-container {
                            height: 200px;
                            display: flex;
                        }
                    }
                }

                .chat-received-messages {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    padding: 10px 0 10px 0;
                    width: 100%;

                    .chat-received-message-info-container {
                        display: flex;
                        flex-direction: column;
                        max-width: 50%;
                        margin-bottom: 5px;

                        .row1 {
                            display: block;

                            .chat-received-message-data {
                                display: flex;
                                gap: 5px;
                            }

                            .chat-uploaded-image {
                                width: 200px;
                                height: auto;
                                border-radius: 0;
                                cursor: pointer;
                            }

                            .chat-received-message-box {
                                border-radius: 10px;
                                padding: 6px;
                                background-color: var(--gray-100);

                                .offered-price-label {
                                    color: var(--green-500);
                                    font-weight: 600;
                                }

                                span {
                                    font-weight: 600;
                                }

                                .normal-chat-text {
                                    font-weight: 400;
                                }
                            }

                            img {
                                align-self: flex-end;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                            }
                        }

                        .chat-time-received-message {
                            align-self: flex-end;
                            color: var(--gray-300);
                        }
                    }
                }

                .date-messages {
                    position: relative;
                    text-align: center;
                    color: var(--gray-300);

                    span {
                        font-weight: 500;
                        font-size: 12px;
                    }

                    span:before {
                        content: "";
                        position: absolute;
                        width: 300px;
                        height: 1px;
                        top: 10px;
                        right: 60%;
                        background: var(--gray-200);
                    }

                    span:after {
                        content: "";
                        position: absolute;
                        width: 300px;
                        height: 1px;
                        top: 10px;
                        left: 60%;
                        background: var(--gray-200);
                    }
                }
            }

            .chat-right-row4 {
                display: flex;
                align-items: center;
                align-self: center;
                gap: 10px;
                width: 98%;
                height: 51px;
                padding: 5px 10px 5px 10px;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

                .chat-icon-buttons {
                    display: flex;
                    align-items: center;
                    width: 53px;
                    gap: 10px;

                    .chat-upload-img-btn {
                        display: flex;
                        width: 23px;
                        height: auto;
                        fill: var(--gray-500);
                        cursor: pointer;
                    }

                    .chat-emote-btn {
                        display: flex;
                        position: relative;
                        width: 20px;
                        fill: var(--gray-500);
                        cursor: pointer;

                        .emoji-picker {
                            bottom: 25px;
                            position: absolute;
                        }
                    }
                }

                .chat-input-message-box {
                    flex: 1;
                    background-color: var(--gray-100);
                    min-width: 150px;
                }

                .chat-send-icon-btn {
                    width: 40px;
                    height: 40px;
                    background: linear-gradient(to right, #d53f3f, #dc6531);
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;

                    .chat-send-icon {
                        display: flex;
                        justify-content: center;
                        stroke: white;
                        fill: none;
                    }
                }

                .chat-send-icon-btn:hover {
                    background: linear-gradient(to right, #dc6531, #dc6531);
                }
            }
        }
    }
}

//------------------------------------------IMAGE POPUP -----------------------------------//
.App {
    text-align: center;
}

.thumbnail-container {
    margin: 20px;
}

.thumbnail {
    cursor: pointer;
    width: 150px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
}

.large-image {
    max-width: 90vw;
    max-height: 80vh;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.close-button {
    position: absolute;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    border: none;
    padding: 10px;
    border-radius: 50%;
}



//----------------------------------------- MEDIA QUERY -----------------------------------//
@media only screen and (max-width: 1199px) {
    .container {
        .chat-container {
            height: calc(100vh - 75px);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header-container {
        display: none;
    }

    .container {
        .chat-container {
            height: calc(100vh - 5px);

            .chat-right {
                .chat-right-row1 {
                    .back-arrow {
                        display: block;
                        background: none;
                    }

                    .back-arrow:before {
                        content: "\f060";
                        font-size: 30px;
                        font-family: Fontawesome;
                        color: var(--black-101);
                    }
                }
            }

            .chat-left {
                width: 100%;

                .chat-left-row1 {
                    .chat-left-row1-header {
                        .back-arrow {
                            display: block;
                            background: none;
                        }

                        .back-arrow:before {
                            content: "\f060";
                            font-size: 30px;
                            font-family: Fontawesome;
                            color: var(--black-101);
                        }
                    }
                }
            }
        }
    }
}