.container {
    .chat-container {
        display: flex;
        width: 100%;
        height: 80vh;

        .chat-left {
            width: 427px;
            height: 100%;
            border-right: 1px solid var(--gray-300);

            .chat-left-row1 {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                border-bottom: 1px solid var(--gray-300);

                .chat-left-row1-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h3 {
                        font-weight: 500;
                        margin: 0;
                    }

                    .message-collections-btn {
                        display: flex;
                        justify-content: space-between;
                        width: 116px;
                        height: 30px;
                        border-radius: 5px;
                        padding: 0 10px;
                    }
                }

                .chat-search-box-container {
                    .chat-search-box {
                        border: none;
                        width: 100%;
                        background-color: var(--gray-100);
                        border: 1px solid var(--gray-300);
                    }
                }
            }

            .chat-left-row2 {
                .select-user-conversation {
                    display: flex;
                    justify-content: space-between;
                    height: 80px;
                    width: 100%;
                    padding: 10px;

                    .user-chat-info-container {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 11px;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }

                        .chat-user-name-messages {
                            display: flex;
                            flex-direction: column;
                            max-width: 265px;

                            .chat-user-name {
                                font-weight: 600;
                            }
                        }
                    }

                    .last-message-time {
                        padding-top: 10px;
                        width: 53px;
                    }
                }
            }

            .green-bkgrnd {
                background-color: var(--gray-100);
            }
        }

        .chat-right {
            width: 893px;
            display: flex;
            flex-direction: column;

            .chat-right-row1 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 68px;
                padding: 10px;
                border-bottom: 1px solid var(--gray-300);

                .user-chat-info-container {
                    display: flex;
                    align-items: center;
                    gap: 11px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    .chat-user-name-messages {
                        display: flex;
                        flex-direction: column;

                        .chat-user-name {
                            font-weight: 600;
                        }

                        .chat-user-status {
                            color: var(--green-400);
                            font-weight: 500;
                        }
                    }
                }

                .three-dots-chat {
                    width: 5px;
                    fill: var(--green-400);
                }
            }

            .chat-right-row2 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 80px;
                padding: 5px 20px;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

                .selling-item-container {
                    display: flex;
                    gap: 11px;

                    img {
                        width: 65px;
                        height: 65px;
                    }

                    .chat-item-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .chat-item-name {
                            font-weight: 600;
                        }
                    }
                }
            }

            .chat-right-row3 {
                padding: 0 10px 10px 10px;
                flex: 1;
                display: block;
                overflow-y: auto;

                .chat-sent-messages {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    padding: 10px 0 10px 0;
                    width: 100%;

                    .chat-sent-message-info-container {
                        max-width: 50%;
                        margin-bottom: 5px;

                        .row1 {
                            display: flex;
                            gap: 5px;

                            .chat-sent-message-box {
                                border-radius: 10px;
                                padding: 10px;
                                background-color: var(--green-200);
                            }

                            img {
                                align-self: flex-end;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                            }
                        }

                        .chat-time-sent-message {
                            color: var(--gray-300);
                        }
                    }
                }

                .chat-received-messages {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    padding: 10px 0 10px 0;
                    width: 100%;

                    .chat-received-message-info-container {
                        display: flex;
                        flex-direction: column;
                        max-width: 50%;
                        margin-bottom: 5px;

                        .row1 {
                            display: flex;
                            gap: 5px;

                            .chat-received-message-box {
                                border-radius: 10px;
                                padding: 10px;
                                background-color: var(--gray-100);
                            }

                            img {
                                align-self: flex-end;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                            }
                        }

                        .chat-time-received-message {
                            align-self: flex-end;
                            color: var(--gray-300);
                        }
                    }
                }

                .date-messages {
                    position: relative;
                    text-align: center;
                    color: var(--gray-300);

                    span {
                        font-weight: 500;
                        font-size: 12px;
                    }

                    span:before {
                        content: "";
                        position: absolute;
                        width: 300px;
                        height: 1px;
                        top: 10px;
                        right: 60%;
                        background: var(--gray-200);
                    }

                    span:after {
                        content: "";
                        position: absolute;
                        width: 300px;
                        height: 1px;
                        top: 10px;
                        left: 60%;
                        background: var(--gray-200);
                    }
                }
            }

            .chat-right-row4 {
                display: flex;
                align-items: center;
                align-self: center;
                gap: 10px;
                width: 98%;
                height: 51px;
                padding: 5px 10px 5px 10px;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

                .chat-icon-buttons {
                    display: flex;
                    align-items: center;
                    width: 53px;
                    gap: 10px;

                    .chat-upload-img-btn {
                        width: 23px;
                        height: 20px;
                        fill: var(--gray-500)
                    }

                    .chat-emote-btn {
                        width: 20px;
                        fill: var(--gray-500)
                    }
                }

                .chat-input-message-box {
                    flex: 1;
                    background-color: var(--gray-100);
                }

                .chat-send-icon-btn {
                    width: 40px;
                    height: 40px;
                    background-color: var(--green-400);
                    border-radius: 5px;
                    border: none;

                    .chat-send-icon {
                        stroke: white;
                        fill: none;
                    }
                }

                .chat-send-icon-btn:hover {
                    background: #008774;
                }
            }
        }
    }
}