.wishlist-body{
    display: block;
    margin-bottom: 100px;
    height: 60vh;
    .wishlist-row1{
        flex-grow: 1;
        display: flex;
        height: 40px;
        align-items: center;
        .breadcrumb{
            margin: 0;
            font-size: 14px;
            li{
                a{
                    color: var(--gray-500);
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            li+li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
            }
            li:last-child{
                color: var(--gray-400);
            }
        }
    }
    .wishlist-row2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1320px;
        margin: 20px auto 25px auto;
        padding: 30px 20px 0px 20px;
        border: 1px solid var(--gray-200);
        .wishlist-title{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 400;
            font-size: 28px;
            margin-bottom: 20px;
        }
        .wishlist-items{
            display: flex;
            flex-wrap: wrap;
            gap: 19px;
        }
    }
}