.wishlist-body {
    display: block;
    margin-bottom: 100px;

    .wishlist-row1 {
        flex-grow: 1;
        display: flex;
        height: 40px;
        align-items: center;
        padding: 0 16px;

        .breadcrumb {
            display: flex;
            margin: 0;
            font-size: 14px;

            li {
                a {
                    color: var(--gray-500);
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            li+li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
            }

            li:last-child {
                color: var(--gray-400);
            }
        }
    }

    .wishlist-row2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1600px;
        margin: 20px auto 25px auto;
        padding: 30px 20px 0px 20px;
        border: 1px solid var(--gray-200);

        .wishlist-title {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 400;
            font-size: 28px;
            margin-bottom: 20px;
        }

        .wishlist-empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 500px;

            img {
                width: 150px;
                filter: grayscale(100%);
                opacity: 50%;
                padding: 20px 0 20px 0;
            }
            h4 {
                color: var(--gray-400);
                padding-bottom: 20px;
            }
        }

        .wishlist-items {
            display: flex;
            flex-wrap: wrap;
            gap: 23px;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin: 20px 0;

            .page-item {
                .page-link {
                    font-size: 15px;
                    color: var(--gray-500);
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color .3s;
                    border: 1px solid var(--gray-200);
                    margin: 0 4px;
                }

                .page-link.active {
                    background: linear-gradient(to right, #d53f3f, #dc6531);
                    color: white;
                    border: 1px solid var(--orange-200);
                }

                .page-link:hover:not(.active) {
                    background-color: #ddd;
                }
            }
        }
    }
}


//------------------------------------- MEDIA QUERY -------------------------------------//

@media only screen and (max-width: 768px) {
    .wishlist-body {
        .wishlist-row2 {
            padding: 30px 16px 0px 16px;

            .wishlist-items {
                justify-content: space-evenly;
            }
        }
    }
}