
.container{
    .hero-banner{
        margin-top: 20px;
        background-image: url(../../assets/images/banner.png);
        background-repeat: no-repeat;
        width: 1320px;
        height: 300px;
    }
}
