.language-selector-container {
    width: 100%;
    text-align: right;
    margin: 10px 0;
    padding: 0 10px;
}

.forum-discussion-page-container {
    display: flex;
    gap: 20px;
    padding: 0 20px;

    .forum-discussion-page-container-col2 {
        width: 100%;

        .started-discussion-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid var(--gray-300);
            border-left: 4px solid var(--orange-200);
            gap: 10px;
            padding: 10px;

            .started-discussion-container-row1 {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 40px;
                    height: 40px;
                    filter: grayscale(100%);
                }

                .started-forum-discussion-info {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    small {
                        font-size: 13px;
                        font-style: italic;
                    }
                }
            }

            .started-discussion-container-row3 {
                display: flex;
                justify-content: space-between;

                .view-reply-like-counter {
                    display: flex;
                    gap: 20px;
                    font-size: 13px;
                    font-style: italic;

                    .like-counter {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .like-msg-icon {
                            display: flex;
                            width: 17px;
                            height: 16px;
                            fill: var(--black-102);
                        }
                    }

                    .reply-counter {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .reply-msg-icon {
                            display: flex;
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .view-counter {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .view-msg-icon {
                            display: flex;
                            width: 17px;
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
}