.why-choose-us-box {
    background: var(--light-gray-101);
    padding: 50px 16px;
    margin-top: 100px;
    font-family: kanit, sans-serif;

    .container {
        display: block;
        text-align: center;

        h1 {
            font-family: kanit, sans-serif;
            font-size: 45px;
            margin-bottom: 60px;
            font-weight: 500;
        }

        h4 {
            font-family: kanit, sans-serif;
            font-size: 24px;
        }

        .row1 {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;

            .why-choose-us-card {
                text-decoration: none;
                display: block;
                text-align: center;
                width: 240px;

                img {
                    margin-bottom: 13px;
                }
            }            
        }
    }
}