// .gt_selector:first-child{
//     display: none;
// }

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
    visibility: hidden;
}

.gt_selector:hover {
    cursor: pointer;
}


/*-------------------- MEDIA QUERY ------------------------------*/
@media only screen and (max-width: 420px) {

    .gtranslate_wrapper {
        select {
            width: 100%;
        }
    }
}