.login-form-container{
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 446px;
    height: auto;
    background: white;
    padding: 38px 42px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
    .row5{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .horizontal-line{
            width: 100%;
            height: 1px;
            background: var(--gray-300);
        }
    }
    .row6{
        .facebook-btn{
            background: var(--fb-blue);
        }
    }
    .row7{
        .google-btn{
            background: var(--google-red);
        }
    }
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 33px;
    height: auto;
    .error-msg{
        color: red;
    }
    input{
        border: 1px solid var(--gray-300);
        border-radius: 3px;
        width: 360px;
        height: 42px;
        padding: 0 15px;
        outline: none;
    }
    Button{
        width: 100%;
        height: 47px;
        border-radius: 5px;
        color: white;
    }
    .row1{
        display: flex;
        flex-direction: column;
        grid-gap: 14px;
        .col1, .col2{
            text-align: center;
        }
    }
    .row2, .row3{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .col1{
            display: flex;
            justify-content: space-between;
            font-size: 13px;
        }
    }
    .row3{
        .col2{
            position: relative;
            input{
                padding: 0 110px 0 15px;
            }
            .send-code{
                position: absolute;
                top: 10px;
                right: 20px;
            }
        }
        
    }
    .row4{
        .continue-btn{
            background-color: var(--green-400);
        }
    }
    .row6{
        .facebook-btn{
            background: var(--fb-blue);
        }
        .fb-icon{
            width: 16px;
        }
    }
    .row5{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .horizontal-line{
            width: 100%;
            height: 1px;
            background: var(--gray-300);
        }
    }
    .row7{
        .google-btn{
            background: var(--google-red);
        }
        .google-icon{
            width: 23px;
        }
    }
}