.top-categories-title {
    display: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: start;
    width: 100%;
    padding: 0 16px;
    margin-top: 20px;

}

.top-category-container {
    display: none;
    text-align: center;
    padding: 0 5px;
    overflow-y: hidden;
    scrollbar-width: none;
    margin-top: 20px;

    .top-category-container-row1,
    .top-category-container-row2 {
        min-width: 900px;
        overflow-y: hidden;
        margin-bottom: 10px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        overflow-y: hidden;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            width: 150px;
            min-width: 120px;
            text-align: center;

            .top-category-thumbnail-img {
                border-radius: 50%;
                width: 120px;
            }

            .category-name {
                width: 100%;
                text-align: center;
                font-weight: 500;
            }

            a {
                color: var(--black-101);
            }
        }
    }
}


/*-------------------- MEDIA QUERY ------------------------------*/

@media only screen and (max-width: 1199px) {

    .top-categories-title {
        display: block;
    }
    .top-category-container {
        display: block;
    }
}

@media only screen and (max-width: 520px) {

    .top-categories-title {
        text-align: center;
    }
}