.thumbnail-container:hover {
    color: var(--gray-500);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 446px;
    background: white;
    border-radius: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--gray-500);
    border: 1px solid var(--gray-100);
    overflow: hidden;

    p {
        margin-bottom: 0;
        color: var(--gray-500);
        font-weight: 500;
    }

    p:hover {
        color: var(--green-400);
        cursor: pointer;
    }

    .image-holder {
        margin: 0;
        width: 100%;
        height: 240px;
        overflow: hidden;

        .product-img {
            border-radius: 5px 5px 0 0;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .product-info {
        padding: 10px 10px;
        margin: 0;
        color: var(--gray-500);

        small {
            font-style: italic;
        }

        .date-post {
            display: flex;
            align-items: center;

            .small-clock {
                width: 12px;
                fill: var(--gray-500);
                margin-right: 5px;
            }

            small {
                font-style: normal;
            }
        }
    }

    .prod-condition-price {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px 10px 10px;
        margin: 0;

        .col-price {
            display: flex;
            flex-direction: column;

            .price {
                color: black;
                margin-bottom: 0;
                font-size: 20px;
            }
        }

        .col-wishlist {
            position: relative;
            display: flex;
            align-items: flex-end;

            .add-wishlist-sign-in {
                width: 320px;
                top: 50px;
                padding: 10px;
                position: absolute;
                background: white;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
                z-index: 1;

                p {
                    margin: 20px 0 40px 0;
                }

                p:hover {
                    color: var(--gray-500);
                    cursor: default;
                }

                a {
                    font-weight: 600;
                }
            }

            .heart-icon {
                display: flex;
                margin-left: 5px;
                width: 15px;
                fill: var(--gray-500);
                border: none;
                background: none;
                padding-bottom: 4px;
            }
        }
    }
}

// PROFILE INFO CARD STYLE

.profile-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 315px;
    padding: 30px 20px;
    background: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;

    .profile-info-box-row1 {
        display: block;
        text-align: center;

        .profile-pic {
            width: 160px;
            height: 160px;
            border-radius: 100%;
            margin-bottom: 16px;
        }

        .profile-name {
            font-size: 24px;
        }
    }

    .profile-info-box-row2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .seller-rating {
            display: flex;
            gap: 3px;
            align-items: center;
        }

        .joined-date-loc {
            font-size: 12px;
            font-style: italic;
        }

        .follow-component-container {
            .follow-message-buttons {
                display: flex;
                justify-content: center;
                gap: 16px;

                .unfollowing-btn {
                    border-color: var(--green-400);
                    color: var(--green-400);
                }
            }

            .follow {
                display: flex;
                gap: 30px;
                padding-top: 10px;

                .counter-divider {
                    width: 1px;
                    background: var(--gray-300);
                }

                .follow-counter {
                    text-align: center;
                    cursor: pointer;

                    p {
                        margin-bottom: 8px;
                        font-weight: 500;
                    }

                    span {
                        font-size: 20px;
                        color: var(--green-400);
                        text-align: center;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .profile-social-media {
        height: 43px;
        display: flex;
        align-items: center;
        gap: 15px;

        .fb-icon {
            width: 9px;
            fill: var(--fb-blue);
        }

        .google-icon {
            width: 14px;
            fill: var(--google-red);
        }
    }


}


// LISTING CARD STYLE


.prod-listing-thumb:hover {
    color: var(--gray-500);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);

    .three-dots {
        cursor: pointer;
        width: 4px;
        fill: var(--gray-500);
    }
}

.prod-listing-thumb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    background: white;
    border-radius: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--gray-500);
    border: 1px solid var(--gray-100);

    p {
        margin-bottom: 0;
        color: var(--gray-500);
        font-weight: 500;
    }

    p:hover {
        color: var(--green-400);
        cursor: pointer;
    }

    .image-holder {
        margin: 0;
        width: 230px;
        height: 200px;
        cursor: pointer;

        .product-img {
            border-radius: 5px 5px 0 0;
            width: 230px;
            height: 200px;
            object-fit: cover;
        }
    }

    .product-info {
        padding: 10px 10px;
        margin: 0;

        small {
            font-style: italic;
        }

        .date-post {
            display: flex;
            align-items: center;

            .small-clock {
                width: 12px;
                fill: var(--gray-500);
                margin-right: 5px;
            }

            small {
                font-style: normal;
            }
        }
    }

    .prod-condition-price {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px 10px 10px;
        margin: 0;

        .col-price {
            display: flex;
            flex-direction: column;

            .price {
                color: black;
                margin-bottom: 0;
                font-size: 20px;
            }
        }

        .col-wishlist {
            position: relative;
            display: flex;
            align-items: flex-end;

            .option-manage-listed-items {
                position: absolute;
                display: block;
                top: 55px;
                right: 0;
                width: 150px;
                background: white;
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                border-radius: 3px;
                z-index: 1;

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        font-size: 14px;
                        display: flex;
                        gap: 8px;
                        padding: 10px 12px 10px 12px;
                        border-bottom: 1px solid var(--gray-200);

                        .edit-icon {
                            display: flex;
                            width: 20px;
                            stroke: var(--gray-500);
                        }

                        .delete-icon {
                            display: flex;
                            width: 14px;
                        }
                    }

                    .item-sold-edit {
                        color: var(--gray-300);

                        .edit-icon {
                            display: flex;
                            width: 20px;
                            stroke: var(--gray-300);
                        }
                    }

                    .mark-sold {
                        color: var(--green-400);

                        .check-icon {
                            display: flex;
                            width: 17px;
                            stroke: var(--green-400);
                        }
                    }

                    .item-sold {
                        color: var(--gray-300);

                        .check-icon {
                            display: flex;
                            width: 17px;
                            stroke: var(--gray-300);
                        }
                    }

                    li:hover {
                        cursor: pointer;
                        background: var(--gray-200);
                    }

                    li:last-child {
                        border-bottom: none;
                        color: red;
                    }

                }
            }

            .wishlist-counter {
                margin-left: 5px;
            }

            .heart-icon {
                margin-left: 5px;
                width: 15px;
                fill: var(--gray-500);
                border: none;
                background: none;
            }
        }
    }

    .promote-btn-box {
        padding: 0 10px;

        .promote-btn {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}



// FOLLOWER CARD STYLE

.follower-card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;

    a {
        flex: 1;
    }

    .follower-card-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 140px;
        background: white;
        color: var(--gray-500);
        padding: 0 10px 10px 10px;

        .follower-card-row1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 125px;

            img {
                width: 92px;
                height: 92px;
                border-radius: 50%;
            }
        }

        .follower-name {
            font-weight: 500;
            text-align: center;
        }

        .number-follower {
            font-size: 14px;
        }

        .following-button {
            margin-top: 10px;
        }
    }

    .follower-card-container:hover {
        cursor: pointer;
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
    }
}



/*-------------------- MEDIA QUERY ------------------------------*/

@media only screen and (max-width: 520px) {

    .thumbnail-container {
        width: 145px;
        height: fit-content;

        .image-holder {
            height: auto;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .profile-info-box {
        .profile-info-box-row1 {
            .profile-name {
                font-size: 20px;
            }
        }

        .profile-info-box-row2 {
            align-items: flex-start;
            width: 100%;

            .follow-component-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                gap: 16px;
            }
        }
    }
}