.checkbox-region{
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default checkbox */
    input.checkbox{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        display: none;
    }
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
    border: 1px solid var(--gray-500);
}
/* When the checkbox is checked, add a green background and border*/
.checkbox:checked ~ .checkmark{
    background-color: var(--black-102);
    border: 1px solid var(--black-102);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.checkbox:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.checkmark:after {
    left: 3px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--gray-300);
    outline: none;
    padding: 10px 10px;
  }
