// DEACTIVATE ACCOUNT STYLE

.deactivate-accnt-body {
    margin-bottom: 150px;

    .container {
        display: block;

        h3 {
            font-weight: 500;
            margin: 20px 0;
        }

        .box {
            display: flex;
            gap: 20px;

            .col-right {
                width: 100%;

                .accnt-deactivation-content {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    max-width: 985px;
                    width: 100%;
                    background: white;
                    padding: 30px 30px;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
                    margin-bottom: 150px;

                    span {
                        font-weight: 500;
                    }

                    .row1 {
                        display: flex;
                        justify-content: space-between;

                        .label-btn {
                            .back-arrow::before {
                                display: none;
                                content: "\f060";
                                font-size: 30px;
                                font-family: Fontawesome;
                                color: var(--black-101);
                            }
                        }

                        .accnt-deactivation-info {
                            list-style: disc;
                            margin-top: 10px;
                            margin-bottom: 1rem;
                            padding-left: 2rem;

                            li {
                                padding: 5px 0;
                            }
                        }
                    }

                    .deactivate-account-btn {
                        background: linear-gradient(to right, #d53f3f, #dc6531);
                        border-color: #dc6531;
                    }
                }
            }
        }
    }
}


// SET PASSWORD STYLE

.set-password-body {
    margin-bottom: 150px;
    height: 100vh;

    .container {
        display: block;

        h3 {
            font-weight: 500;
            margin: 20px 0;
        }

        .box {
            display: flex;
            gap: 20px;

            .col-right {
                width: 100%;

                .set-password-form {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    max-width: 985px;
                    width: 100%;
                    background: white;
                    padding: 30px 30px;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
                    margin-bottom: 150px;

                    .label-btn {
                        .back-arrow::before {
                            display: none;
                            content: "\f060";
                            font-size: 30px;
                            font-family: Fontawesome;
                            color: var(--black-101);
                        }
                    }

                    span {
                        font-weight: 500;
                    }

                    hr {
                        margin: 0;
                    }

                    .asterisk {
                        color: red;
                    }

                    .form-field {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        gap: 5px;

                        .password-input-field {
                            max-width: 557px;
                            width: 100%;
                            height: 40px;
                            border-radius: 5px;
                            border: 1px solid var(--gray-300);
                            outline: none;
                            padding: 0 10px;
                        }

                        label {
                            padding-top: 10px;
                            width: 170px;
                            flex-shrink: 0;
                        }

                        .instructions {
                            color: red;
                            margin-bottom: 0;
                            position: absolute;
                            font-size: 13px;
                        }

                        .offscreen {
                            display: none;
                        }

                        .valid {
                            color: limegreen;
                            margin-left: 0.25rem;
                        }

                        .invalid {
                            color: red;
                            margin-left: 0.25rem;
                        }

                        .hide {
                            display: none;
                        }
                    }

                    .save-password {
                        background: linear-gradient(to right, #d53f3f, #dc6531);
                        border-color: #dc6531;
                    }

                }
            }
        }
    }
}


// --------------------------------- MEDIA QUERY --------------------------------- //

@media only screen and (max-width: 1320px) {

    .deactivate-accnt-body,
    .set-password-body {
        .container {
            h3 {
                margin: 20px 16px;
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .deactivate-accnt-body {
        .container {
            .box {
                .col-left {
                    display: none;
                }

                .col-right {
                    width: 100%;

                    .accnt-deactivation-content {
                        padding: 10px 16px;
                        max-width: 100%;
                        padding-bottom: 30px;

                        .row1 {
                            display: block;

                            .label-btn {
                                display: flex;
                                align-items: center;
                                gap: 20px;
                                margin-bottom: 20px;

                                .back-arrow::before {
                                    display: block;
                                }

                                span {
                                    display: block;
                                    font-size: 18px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }

            h3 {
                display: none;
            }
        }
    }

    .set-password-body {
        .container {
            h3 {
                display: none;
            }

            .box {
                .col-left {
                    display: none;
                }

                .col-right {
                    .set-password-form {
                        .label-btn {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            margin-bottom: 20px;

                            .back-arrow::before {
                                display: block;
                            }

                            span {
                                display: block;
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {

}