.green-banner-container {
    display: flex;
    justify-content: center;

    .contentbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1150px;
        height: 100%;
        margin: 20px 16px;
        padding: 30px 30px;
        flex-wrap: wrap;
        border: 1px solid var(--gray-300);

        .col-left {
            display: flex;
            flex: 1;

            .dollar-box {
                display: flex;
                padding-right: 20px;

                img {
                    width: 36px;
                    height: 36px;
                    align-self: center;
                }
            }

            h2 {
                font-family: 'Kanit', sans-serif;
                color: var(--black-101);
                font-weight: 700;
            }
        }

        .col-right {
            .gain-more-btn {
                display: flex;
                width: 194px;
                height: 48px;
                align-items: center;
                justify-content: space-between;
                padding: 9px 31px;
                text-decoration: none;
                border: 2px solid var(--black-101);
                border-radius: 5px;

                .sell-arrow {
                    display: flex;
                }

                h5 {
                    font-family: 'Kanit', sans-serif;
                    margin: 0;
                    color: var(--black-101);
                }
            }
        }
    }
}


/*-------------------- MEDIA QUERY ------------------------------*/

@media only screen and (max-width: 397px) {

    .container {
        .contentbox {
            .col-left {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }

}