.prod-filter-container {
    display: flex;
    justify-content: space-between;

    .group-filterby {
        display: flex;
        gap: 20px;

        .filter-sortby {
            position: relative;

            .filter-sortby-options {
                position: absolute;
                width: 200px;
                padding: 0;
                background-color: white;
                box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15);

                li {
                    padding: 10px 12px 10px 12px;
                }

                li:hover {
                    background: var(--gray-200);
                }
            }
        }

        .filter-condition {
            position: relative;

            .filter-condition-options {
                position: absolute;
                width: 200px;
                padding: 0;
                background-color: white;
                box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15);

                li {
                    padding: 10px 12px 10px 12px;
                }

                li:hover {
                    background: var(--gray-200);
                }
            }
        }

        .filter-deal-option {
            position: relative;

            .filter-deal-options {
                position: absolute;
                width: 250px;
                padding: 0;
                background-color: white;
                box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15);

                li {
                    padding: 10px 12px 10px 12px;
                }

                li:hover {
                    background: var(--gray-200);
                }
            }
        }

        .filter-price {
            position: relative;

            .filter-price-input {
                display: block;
                position: absolute;
                background: white;
                width: 353px;
                padding: 17px 0px 17px 0px;
                box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15);

                p {
                    padding: 0 12px 0 12px;
                    font-weight: 500;
                }

                .filter-price-row1 {
                    display: flex;
                    gap: 5px;
                    width: 100%;
                    align-items: center;
                    padding: 0 12px 0 12px;

                    .input-price-filter-container {
                        position: relative;

                        .php-symbol {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                        }

                        .input-price-filter {
                            width: 100%;
                            padding-left: 25px;
                        }
                    }
                }

                .filter-price-row2 {
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 0 12px 0 12px;
                }
            }
        }
    }
}



/* MODAL FILTERS */

.custom-filter-button {
    display: flex;
    justify-content: center;
    font-weight: 500;
    gap: 5px;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-300);
    color: var(--gray-500);
    background-color: white;
    outline: none;
}

.custom-filter-button:hover {
    background-color: var(--light-gray);
}

.custom-filter-button .svg-style {
    display: flex;
    width: 20px;
    fill: var(--gray-500);
}

.item-filter-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;

    .item-filter-modal-box {
        background: white;
        width: 700px;
        height: auto;
        margin: auto;
        border-radius: 8px;

        .item-filter-modal-row1 {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 48px;
            padding: 8px;
            border-bottom: 1px solid var(--gray-200);

            .closebtn {
                border: none;
                background: none;
                width: 25px;
                height: 25px;
                display: flex;

                .fa-times {
                    color: var(--gray-500);
                    font-size: 20px;
                    margin: auto;
                }
            }
        }

        .item-filter-modal-row2 {
            display: flex;

            .item-filter-modal-row2-col1 {
                border-right: 1px solid var(--gray-200);
                border-bottom: 1px solid var(--gray-200);

                .filter-options {
                    width: 200px;
                    padding: 0;
                    margin: 0;

                    .filter-tab {
                        font-weight: 500;
                        display: flex;
                        padding: 10px 12px 10px 14px;
                        justify-content: space-between;
                        border-bottom: 1px solid var(--gray-200);

                        .filter-arrow {
                            transform: rotate(-90deg);
                            color: var(--gray-500);
                        }

                        .filter-arrow:after {
                            content: "\f078";
                            font-family: FontAwesome;
                            color: var(--gray-500);
                            transform: rotate(45deg);
                        }
                    }

                    .filter-tab:hover {
                        cursor: pointer;
                        background: var(--gray-200);
                    }

                    .filter-tab:last-child {
                        border: none;
                    }

                    .active {
                        color: var(--gray-500);
                        background: var(--gray-200);
                    }
                }
            }

            .item-filter-modal-row2-col2 {
                padding: 17px 0;
                border-bottom: 1px solid var(--gray-200);

                .filter-sortby-box {
                    .filter-sort-by-options {
                        padding: 0;
                        margin: 0;

                        li {
                            padding: 5px 12px 5px 12px;
                        }
                    }
                }

                .filter-condition-box {
                    gap: 20px;

                    .filter-condition-options {
                        padding: 0;
                        margin: 0;

                        li {
                            padding: 5px 12px 5px 12px;
                        }
                    }
                }

                .filter-deal-box {
                    .filter-deal-options {
                        padding: 0;
                        margin: 0;

                        li {
                            padding: 5px 12px 5px 12px;
                        }
                    }
                }

                .filter-price-range-options {
                    padding: 0 12px;

                    .input-price-range-box {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .input-price-range-filter-container {
                            position: relative;

                            .php-symbol {
                                position: absolute;
                                top: 10px;
                                left: 10px;
                            }

                            .input-price-filter {
                                width: 100%;
                                padding-left: 25px;
                            }
                        }
                    }
                }
            }
        }

        .item-filter-modal-row3 {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            padding: 10px 20px;
            border-top: 1px solid var(--gray-200);
        }
    }
}

//------------------------------- Small Screen Product Filter ------------------------------------//

.small-screen-prod-filter-container {
    display: none;

    .custom-filter-button {
        display: flex;
        gap: 5px;
        align-items: center;
        height: 40px;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid var(--gray-300);
        color: var(--black-101);
        background-color: white;
        outline: none;

        .filter-icon {
            width: 20px;
            fill: var(--black-101);
        }
    }
}

.ss-product-filter-form {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 55px 0 135px 0;
    overflow: scroll;
    z-index: 1000;

    .ss-product-filter-form-row1 {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid var(--gray-300);
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        background: white;
        z-index: 1;

        span {
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            width: 100%;
        }

        .ss-product-filter-form-close-btn {
            display: flex;
            position: relative;
            left: 0px;
            top: 0px;
            padding: 0px 15px;
            border: none;
            text-align: right;
            font-size: 30px;
            color: var(--black-101);
            cursor: pointer;
            z-index: 10;
        }
    }

    .ss-product-filter-form-row2 {

        .filter-options-label {
            font-size: 16px;
            color: var(--green-400);
        }

        .sortby-container,
        .filterby-condition-container,
        .deal-options-container,
        .filter-price-input {
            padding: 10px 16px;
        }

        .all-filter-options-container {
            .sortby-container {
                .sortby-options {
                    ul {
                        padding-left: 16px;
                        margin: 0;
    
                        li {
                            padding: 5px 0;
                        }
                    }
                }
            }
    
            .filterby-condition-container {
                .filter-condition-options {
                    padding-left: 16px;
                    margin: 0;
    
                    li {
                        padding: 5px 0;
                    }
                }
            }
    
            .deal-options-container {
                .filter-deal-options {
                    padding-left: 16px;
                    margin: 0;
    
                    li {
                        padding: 5px 0;
                    }
                }
            }
    
            .filter-price-input {
                .filter-price-row1 {
                    padding: 5px 0;
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;
    
                    .input-price-filter-container {
                        position: relative;
                        width: 100%;
    
                        .php-symbol {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                        }
    
                        .input-price-filter {
                            max-width: 300px;
                            width: 100%;
                            padding-left: 25px;
                        }
                    }
                }
            }
        }
        

        .filter-buttons {
            position: fixed;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            bottom: 0;
            background: white;
            padding: 20px 16px;
        }
    }
}

//-------------------------------MEDIA QUERY ------------------------------------//


@media only screen and (max-width: 870px) {

    .small-screen-prod-filter-container {
        display: flex;
        justify-content: center;

    }

    .prod-filter-container {
        display: none;
    }
}