/* CustomSelect.css */
.custom-select {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 30px;
    cursor: pointer;
    height: 30px;
  }
  
  .selected-option {
    color: var(--black-101);
    font-weight: 500;
  }

  .arrow-down:after {
    content: "\f078";
    font-family: FontAwesome;
    color: var(--gray-500);
    text-align: right;
  }
  
  .options {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
  
  .open .options {
    display: block;
  }
  
  .option {
    color: var(--black-101);
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: var(--gray-100);
  }
  
  .selected {
    background-color: var(--gray-100);
  }
  