.side-menu-container {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 50px;
    width: 250px;
    height: 100vh;
    padding: 40px 15px 40px 15px;
    background-color: var(--green-700);

    .row1 {
        text-align: center;
    }

    .row2 {
        .menu-box {
            ul {
                padding: 0;
                margin: 0;

                .menus {
                    display: flex;
                    flex-direction: column;
                    position: relative;


                    .collapsible:after{
                        content: "\f105";
                        font-family: FontAwesome;
                        color: white;
                        position: absolute;
                        right: 6px;
                    }

                    .active:after{
                        content: "\f107";
                        font-family: FontAwesome;
                        border: none;
                    }

                    .main-menu {
                        display: flex;
                        height: 45px;
                        align-items: center;
                        padding-left: 15px;
                        letter-spacing: 1px;
                        gap: 10px;
                        color: var(--gray-300);
                        border-left: 5px solid var(--green-700);
                        cursor: pointer;

                        .dashboard-icon {
                            display: flex;
                            justify-content: center;
                            width: 20px;
                            fill: var(--gray-300);
                        }

                        .pages-icon {
                            display: flex;
                            justify-content: center;
                            width: 20px;
                            fill: var(--gray-300);
                        }

                        .categories-icon {
                            display: flex;
                            justify-content: center;
                            width: 20px;
                            fill: var(--gray-300);
                        }

                        .customers-icon {
                            display: flex;
                            justify-content: center;
                            width: 20px;
                            fill: var(--gray-300);
                        }

                        .banners-icon {
                            display: flex;
                            justify-content: center;
                            width: 20px;
                            fill: var(--gray-300);
                        }

                        .gear-icon {
                            display: flex;
                            justify-content: center;
                            width: 20px;
                            fill: var(--gray-300);
                        }
                    }

                    .sub-menu {
                        color: var(--gray-300);
                        align-items: start;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height .3s ease-out;
                        li{
                            display: flex;
                            align-items: center;
                            height: 45px;
                            padding-left: 50px;

                        }
                    }

                    .active {
                        color: white;
                        border-left: 5px solid var(--green-300);
                        background: none;

                        .menu-icon {
                            fill: var(--green-300);
                        }
                    }

                    .main-menu:hover{
                        color: white;
                        border-left: 5px solid var(--green-300);
                        background: none;

                        .menu-icon {
                            fill: var(--green-300);
                        }
                    }

                    .sub-menu{
                        li:hover{
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }

        }
    }

    .row3 {
        .logout-btn {
            display: flex;
            height: 45px;
            align-items: center;
            padding-left: 20px;
            gap: 11px;
            letter-spacing: 1px;
            color: var(--gray-300);
            border-top: 1px solid var(--gray-300);

            .logout-icon {
                display: flex;
                justify-content: center;
                width: 20px;
                fill: var(--gray-300);
            }
        }

        .logout-btn:hover{
            color: white;
            cursor: pointer;
            .logout-icon {
                fill: white;
            }
        }
    }
}