.notification-list-body {
    margin-bottom: 150px;
    height: 100vh;

    .container {
        display: block;

        h3 {
            font-weight: 500;
            margin: 20px 0;
        }

        .box {
            display: flex;
            gap: 20px;

            .col-right {

                .notification-list-container {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    width: 985px;
                    height: 100%;
                    background: white;
                    padding: 30px 30px;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
                    margin-bottom: 150px;

                    .no-notif {
                        width: 100%;
                        font-size: 16px;
                        color: var(--gray-300);
                        text-align: center;
                        padding: 50px 0;
                        letter-spacing: 1px;
                        border-top: 1px solid var(--gray-300);
                    }

                    .notification-btns {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 12px;

                        .view-options-btn-container {
                            display: flex;
                            align-items: center;
                            gap: 16px;

                            .all-btn {
                                width: 43.78px;
                            }

                            .unread-btn {
                                width: 79.61px;
                            }

                            .unread-btn,
                            .all-btn {
                                border: 0;
                                background: none;
                            }

                            .unread-btn:hover,
                            .all-btn:hover {
                                color: var(--gray-400);
                                background-color: var(--gray-200);
                                border-radius: 50px;
                                padding: 10px 10px;
                                border: 0;
                            }

                            .active {
                                font-weight: 500;
                                color: var(--green-400);
                                background-color: var(--green-200);
                                border-radius: 50px;
                                padding: 10px 10px;
                                border: 0;
                            }
                        }

                        .dots-container {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            cursor: pointer;
                            width: 15px;

                            .three-dots {
                                width: 4px;
                                fill: var(--gray-500);
                            }

                            .three-dots-dropdown-options {
                                position: absolute;
                                width: auto;
                                background: white;
                                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                                border-radius: 3px;
                                top: 25px;
                                right: -30px;
                                z-index: 1;

                                ul {
                                    width: max-content;

                                    li {
                                        font-weight: 500;
                                        border: 1px solid var(--gray-200);
                                        padding: 10px 12px 10px 12px;
                                    }

                                    li:first-child {
                                        border-top: none;
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }

                    ul {
                        padding: 0;
                        margin: 0;

                        li {

                            padding: 12px 12px;
                            border-bottom: 1px solid var(--gray-300);

                            .delete-notif-btn {
                                display: flex;
                                justify-content: flex-end;
                            }

                            .fa-times:before {
                                color: var(--gray-300);
                                cursor: pointer;
                            }

                            .notification-container {
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                cursor: pointer;

                                .user-avatar {
                                    img {
                                        width: 60px;
                                        height: 60px;
                                        border-radius: 50%;
                                    }
                                }

                                .notification-info {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    gap: 3px;
                                    width: 100%;

                                    a {
                                        color: var(--gray-500);
                                    }

                                    .date {
                                        font-size: 14px;
                                        color: var(--gray-400);
                                    }
                                }

                                .circle-container {
                                    width: auto;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-left: 10px;

                                    .circle {
                                        width: 10px;
                                        height: 10px;
                                        border-radius: 50%;
                                        background-color: var(--green-400);
                                    }
                                }
                            }
                        }

                        li:first-child {
                            border-top: 1px solid var(--gray-300);
                        }

                        li:last-child {
                            border-bottom: none;
                        }

                        li:hover {
                            background: var(--gray-100);
                        }

                    }

                    .view-more {
                        text-align: center;
                        margin-top: 30px;

                        .view-more-btn {
                            text-decoration: underline;
                            padding: 10px;
                            color: #aaaaaa;
                            font-weight: 500;
                            border: none;
                            background: none;
                        }
                    }
                }
            }
        }
    }
}