footer {
    background: var(--black-100);
    padding-top: 35px;
    color: white;
    font-size: 14px;

    ul {
        padding-left: 0;
        margin-bottom: 1rem;
        min-width: 180px;

        li {
            margin-bottom: 5px;
        }
    }

    h5 {
        font-weight: 700;
        margin-bottom: 16px;
    }

    .container {
        display: block;

        .footer-row1 {
            display: flex;
            gap: 30px;
            margin: 0 16px;
            flex-wrap: wrap;

            .footer-col1 {
                text-align: center;
                flex: 1;

                img {
                    width: 160px;
                }

                p {
                    margin: 16px 0;
                }
            }

            .footer-col2, .footer-col3, .footer-col4 {
                text-align: center;
                flex: 1;
            }
        }
    }

    .copyright {
        text-align: center;
        border-top: 1px solid white;
        padding: 10px 0;
    }
}




/*-------------------- MEDIA QUERY ------------------------------*/

@media only screen and (max-width: 540px) {

    footer {
        .container {
            .footer-row1 {
                .footer-col2 {
                    
                }
            }
        }
    }
}