// .btm-border{
//     .parent-menu:hover{
//         border-bottom: 5px solid var(--green-400);
//         // background: gray;
//     }
// }



.btm-border {
    .parent-menu {
        .grid-icon {
            width: 15px;
        }
    }

    .burger-btn-icon {
        display: none;
    }
}


#SlidingMenu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 435px;
    height: 100%;
    z-index: 999999;
    transition: 0.5s ease;

    #menuBkgrnd {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        transition: 0.5s ease;
    }

    #menuBox {
        position: absolute;
        display: flex;
        right: 0;
        top: 0px;
        width: 100%;
        height: 100%;
        max-width: 100%;
        padding: 0px 0px;
        opacity: 1;
        visibility: visible;
        z-index: 5;

        .col-left {
            background-color: none;
            width: 35px;
            display: flex;
            align-self: flex-start;
            justify-content: center;

            #closeBtn {
                position: relative;
                left: 0px;
                top: 0px;
                padding: 0px 15px;
                border: none;
                text-align: right;
                font-size: 30px;
                color: white;
                cursor: pointer;
                z-index: 10;
            }
        }

        .col-right {
            background: white;
            width: 400px;
            overflow-y: scroll;
            scrollbar-width: none;

            .row1 {
                display: flex;
                background: var(--black-100);
                height: 47px;
                padding-left: 15px;

                div {
                    display: flex;
                    align-items: center;
                    font-family: 'Kanit', sans-serif;
                    font-size: 16px;
                    gap: 15px;

                    .avatar-icon {
                        img {
                            width: 27px;
                            height: 27px;
                            border-radius: 100%;
                        }

                        .avatar-image-icon {
                            filter: grayscale(100%);
                        }
                    }

                    h5 {
                        margin: 0;
                    }

                    a {
                        color: white;
                    }
                }

                .small-device-close-btn {
                    display: none;
                }
            }

            .row2 {
                display: flex;
                flex-direction: column;
                background: white;
                font-size: 16px;
                align-items: center;
                justify-content: center;
                height: auto;
                gap: 20px;
                margin: 20px 0;
                padding: 0;

                .other-links-ul {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    align-items: center;

                    .other-link-li {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                        height: auto;
                        border-bottom: 1px solid var(--gray-200);
                        border-top: 1px solid var(--gray-200);

                        .other-link-container {
                            color: var(--gray-500);
                            display: flex;
                            justify-content: center;
                            gap: 10px;
                            align-items: center;
                            padding: 10px 15px;

                            .community-icon {
                                fill: var(--gray-500);
                                width: 22px;
                            }
                        }

                        .other-link-container:hover {
                            background: var(--gray-200);
                        }
                    }
                }

                .search-container {
                    position: relative;
                    width: 100%;

                    input {
                        font-size: 15px;
                        font-family: 'Poppins', sans-serif;
                        width: 100%;
                        height: 42px;
                        outline: none;
                        border: 1px solid var(--black-102);
                        border-radius: 5px;
                        padding-left: 10px;
                    }

                    button {
                        background: var(--black-102);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 42px;
                        height: 42px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        border: none;
                        border-radius: 0 5px 5px 0;

                        .magnifying-glass {
                            display: flex;
                            width: 21px;
                            background: var(--black-102);
                            fill: white;
                        }
                    }
                }
            }

            .row3 {
                display: flex;
                justify-content: center;
                background: white;
                font-size: 16px;
                border: none;
                padding: 0;

                .nav-categories {
                    width: 100%;

                    ul {
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;

                        .main-category {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border-bottom: 1px solid var(--gray-200);

                            .category-icon {
                                display: flex;
                                align-items: center;
                                padding: 10px 15px;

                                img {
                                    margin-right: 10px;
                                }

                                a {
                                    color: var(--gray-500)
                                }
                            }

                            // .category-icon:hover{
                            //     background: var(--gray-200);
                            // }
                            .sub-category {
                                overflow: hidden;
                                max-height: 100%;
                                transition: max-height 0.3s ease-out;
                                align-items: start;

                                li {
                                    padding: 6px 0 6px 36px;

                                    a {
                                        color: var(--gray-500);
                                    }

                                    a:hover {
                                        color: var(--orange-200);
                                    }
                                }

                                li:first-child {
                                    padding-top: 15px;
                                }

                                li:last-child {
                                    padding-bottom: 12px;
                                }
                            }

                            .sub-category li:hover {
                                color: var(--orange-200);
                                cursor: pointer;
                            }

                            .actve,
                            .collapsible {
                                position: absolute;
                                right: 6px;
                                top: 6px;
                                width: 30px;
                                height: 32px;
                                text-align: center;
                                font-size: 16px;
                                line-height: 32px;
                                outline: none;
                                cursor: pointer;
                                background: none;
                                border: none;
                            }

                            .collapsible:after {
                                content: '\f078';
                                font-family: FontAwesome;
                                color: var(--black-102);
                                text-align: right;
                            }

                            .active:after {
                                content: "\f077";
                                font-family: FontAwesome;
                            }

                            .hide-arrow:after {
                                display: none;
                            }
                        }

                        .main-category:hover {
                            .category-icon {
                                background: var(--gray-200);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}


/*-------------------- MEDIA QUERY ------------------------------*/

@media only screen and (max-width: 1199px) {

    .btm-border {
        .parent-menu {
            display: none;
        }

        .burger-btn-icon {
            display: block;
        }
    }

    #menuBox {
        .col-right {
            .row2 {
                padding: 0 15px;
            }
        }

        .col-left {
            display: none;
        }
    }
}


@media only screen and (max-width: 400px) {
    #SlidingMenu {
        #menuBox {
            .col-left {
                display: none;
            }

            .col-right {
                .row1 {
                    justify-content: space-between;

                    .small-device-close-btn {
                        display: block;
                        align-content: center;

                        #closeBtn {
                            position: relative;
                            padding: 0px 15px;
                            border: none;
                            font-size: 30px;
                            color: white;
                            z-index: 10;
                        }
                    }
                }
            }
        }
    }
}